<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_DbTechnicalService_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4HHFM4J\DEVELOPER;integrated security=SSPI;initial catalog=DbTechnicalService" />
    </connectionStrings>
</configuration>